#layout-footer {
  color: white;
  background: black;
  padding: 15px;
  display: flex;
  justify-content: space-around; }
  #layout-footer a {
    color: white;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif; }
  #layout-footer .footer-nav ul {
    display: flex;
    list-style: none;
    margin-left: 20px; }
    #layout-footer .footer-nav ul li {
      margin-left: 40px; }
      #layout-footer .footer-nav ul li a {
        font-size: 18px; }
