<link rel="stylesheet" href="/css/user_sign_in.css" />

<div id="signin-cont">
  <div id="info">
    <h1>SIGN-IN</h1>
  </div>
  <div id="form">
    <form action="/users/create-session" method="POST" id="signin-form">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="submit" value="Sign In" />
    </form>
  </div>
</div>
<div id="google-auth">
  <p>
    <a href="/users/auth/google">GOOGLE SIGNUP/SIGNIN</a>
  </p>
</div>
