#layout-header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: black;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border-bottom: 2px solid white;

    .mini-logo {
      p {
        margin: 5px;
        font-size: 27px;
        font-family: sans-serif;
        font-weight: bold;
      }
    }

    .auth-links {
      ul {
        margin-right: 20px;
        display: flex;
        list-style: none;
        li {
          margin-right: 20px;
          a {
            font-size: 17px;
          }
        }
      }
    }

    a {
      font-family: Georgia, "Times New Roman", Times, serif;
      text-decoration: none;
      color: white;
    }
  }
}
