#layout-footer {
  color: white;
  z-index: 99999;

  a {
    color: white;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  background: black;
  padding: 15px;
  display: flex;
  justify-content: space-around;

  .footer-nav {
    ul {
      display: flex;
      list-style: none;
      margin-left: 20px;

      li {
        margin-left: 40px;
        a {
          font-size: 18px;
        }
      }
    }
  }
}
