#image-container {
  height: 40%;
  margin: auto;
  margin-top: 8%;
  margin-left: 45%;
  img {
    object-fit: cover;
    border-radius: 50%;
    width: 11rem;
    height: 13rem;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
  }
}

.form-container {
  display: flex;
  width: 90%;

  #update-form {
    width: 60%;
    margin-top: 5%;

    #contact-form {
      margin-left: 7%;
      input,
      textarea {
        max-width: 90%;
        margin: 15px;
        padding: 4px 10px;
        border: 0px solid transparent;
        border-bottom: 2px solid white;
        color: #d9dcdd;
        background: transparent;
        width: 90%;
        line-height: 1.6;
        font-size: 1.05rem;
      }
      button[type="submit"] {
        background: transparent;
        font-size: 0.95rem;
        border: 2px solid white;
        margin-top: 5%;
        margin-left: 10%;
        border-radius: 2px;
        color: white;
        font-family: sans-serif;
        font-weight: 700;
        letter-spacing: 0.046875em;
        line-height: 1;
        padding: 0.8em 0.8em 0.78em;
        text-transform: uppercase;
      }
    }
    p {
      margin-left: 24%;
      font-size: 20px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: white;
      font-weight: 600;
    }
  }
  .my-details {
    width: 45%;
    p {
      color: white;
      margin-left: 19%;
      margin-top: 20%;
    }
  }
}
